<!DOCTYPE html>

<head>
</head>

<body>
    <%= render 'layouts/navbar' %>
    <div class='container white-container'>
        <%= render 'layouts/flash_message' %>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <h4>Welcome!</h4></div>
        </div>
        
        
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Pending Pickups</h2>
                <p>Select a pickup from the list below to edit. To add a new pickup click 'Add New Pickup'</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="/pickups/new"><btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Pickup</btn></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>Town</th>
                            <th>Item Quantity</th>
                            <th>Item Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%@pickups.each do |pickup|%>
                      
                            <tr onclick="location.href='<%=edit_pickup_path(pickup)%>'">
                                <td><%=pickup.donor_name%></td>
                                <td><%=pickup.donor_city%></td>
                                <td><% if pickup.number_of_items == 10 %>
                                          <%='10+' %>
                                      <% else %>
                                          <%=pickup.number_of_items%>
                                      <% end %>
                                      <% if pickup.number_of_items == 1 %>
                                          <%="item"%>
                                        <% else %>
                                            <%="items"%></td>
                                        <%end%>    
                                <td><%= truncate(pickup.item_description, length:65) %></td>
                            </tr>
                        <%end%> 
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>
