<!DOCTYPE html>

<head>
</head>

<body>
    <%= render 'layouts/navbar' %>

    <div class='container white-container'>
        <%= render 'layouts/flash_messages' %>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p>Select a pickup from the list below to edit.</p>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Num Items</th>
                            <th>Item Notes</th>
                        </tr>
                    </thead>
                    <tbody class="pickups">
                        <%= will_paginate @pickups %>
                        <% @pickups.each do |pickup| %>
                            <tr onclick="location.href='<%= url_for pickup %>'">
                                <td><%= pickup.day_id  %></td>
                                <td><%= pickup.donor_name %></td>
                                <td><%= pickup.number_of_items %></td>
                                <td><%= pickup.item_description %></td>
                            </tr>
                        <% end %>      
                        <%= will_paginate @pickups  %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>