<head>

<script>
previousDay = null; //keeps track of previous day selected to change color
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        defaultView:"month",
        
        dayClick: function(date, jsEvent, view) {
           
            changeDay(date, false);
           
            // change the day's background color just for fun
            $(this).css('background-color', 'grey');
            previousDay = $(this);
        }
    })
    //add listeners to dropdowns
    $('#day_date_1i').on( "change", daySelected );
    $('#day_date_2i').on( "change", daySelected );
    $('#day_date_3i').on( "change", daySelected );
});
function changeDay(date, selectedByDropDown)
{
    if(previousDay != null)
    {
        previousDay.css('background-color', 'white');
    }
    
    if(selectedByDropDown == false)
    {
        $('#day_date_3i').val(date.format('D')).change();
        $('#day_date_2i').val(date.format('M')).change();
        $('#day_date_1i').val(date.format('YYYY')).change();
    }
        
    //$("td[data-date='" + date.render('YYYY-MM-DD') + "']").css('background-color', 'grey');
}
function daySelected()//handle day selected by dropdown //doesnt work!!!
{
    var day = moment($('#day_date_1i').val() + "-" + $('#day_date_2i').val() + "-" + $('#day_date_3i').val());
    if(day.isValid())
    {//change color
       // $("td[data-date='" + day.render('YYYY-MM-DD') + "']").css('background-color', 'grey');
       // $('#calendar').fullCalendar('gotoDate', day);
       changeDay(day, true);
    }
}
</script>
</head>

<body>
    <%= render 'layouts/navbar' %>

    <div class="container white-container">
        <%= render 'layouts/flash_messages' %>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <h4 class="text-center">Select a day to add it to the schedule.</h4>
                <div id='calendar'></div>
            </div>
            <div class="col-xs-5 col-xs-offset-1">
                <br />
                <br />
                <h4>To add a day, either select a day on the calendar or manually input the day below: </h4>
                <div class="row">
                    <div class="col-xs-9 col-xs-offset-1">
                        
                        <%= form_for( @day )do |f| %>
                            <div class="form-group">
                              <%= date_select( :day, :date, {start_year: Date.today.year, 
                                          prompt: { day: 'Select day', month: 
                                          'Select month', year: 'Select year' },
                                          :order => [:day, :month, :year]},
                                          {:class => "form-group form-control"}  )%>
                        <!--The id for the day select is day_date_3i, month is 2i and year is 1i-->
                            </div>
                            <%= f.submit "Add Day", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>