<!DOCTYPE html>

<head>
</head>

<body>
    <%= render 'layouts/navbar' %>

    <!-- Begin main content -->
    <div class="container">
        <div class="row">
            <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 well'>
                <h4 class="text-center">Add New User</h4>
                
                <!---Create form for adding new user--->
                <%= form_for(@user) do |f| %>
                  
                  <%= render 'layouts/flash_message' %>
                  
                  <%= f.label :user_id %>
                  <%= f.text_field :user_id, class: 'form-control' %>
                  
                  <%= f.label :user_name %>
                  <%= f.text_field :user_name, class: 'form-control' %>
                  
                  <%= f.label :user_email %>
                  <%= f.email_field :user_email, class: 'form-control' %>
                  
                  <br>
                  
                  <%= f.label :permission_level %>
                  
                  <!---Set drop-down options and values per the array--->
                  <%= f.select :permission_level, User.permission_levels.keys.to_a, :include_blank => true %>
                  <br>
                  <%= f.label :password %>
                  <%= f.password_field :user_password_digest, class: 'form-control' %>
                  
                  <%= f.label :password_confirmation, "Confirmation" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                  
                  <%= f.submit "Create Account", class: 'btn btn-success btn-wide' %>
                  <%= link_to "Cancel", users_index_path, class: 'btn btn-danger btn-wide' %>
                <% end %>

            </div>
        </div>

    </div>
</body>

</html>
